@model IEnumerable<RecSystem.Models.Rating>
@{
    ViewData["Title"] = "Index";
}

<h2>Ваш список оцененных фильмов</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Оценка</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                        
                       
            </tr>
        }
        }
    </tbody>
</table>




