body {
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  color:white;  
}

a {
  text-decoration: none;
  color:white;  
}

.header {
  display: flex;
}

.logo {
  margin:auto;
}

.nav {	
  font-family: Tahoma;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.navbar {
  width:88.4%;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 15px 0.8%;
  font-size: 18px;
}

.navbar_menu {
  list-style: none;
  display:flex;
  width: 100%;
  margin: auto;
}

.navbar_menu a:hover, a:active {
  border-bottom: 5px solid #ECD4A0;
  padding-bottom: 5px;
}

.navbar_menu_item {
margin-right: 3%;
/* margin: 0 1.5%; */
}

.autorization_login {
 margin-left: auto;
 margin-right: 6%;

}

.wrapper {
  background-color: rgba(0, 0, 0, 0.53);

  font-family: Tahoma;
  display: flex;
  margin: 15px auto;
  flex-wrap: wrap;
  width: 90%;
  height: 97%;
/* padding:0 3%; */
/*   overflow-y: scroll; */
  padding-top: 1%;
  padding-bottom: 2%;
  justify-content: center;

}

.movie_container {
  display: flex;  
  width:44%;
  font-family: sans-serif;
  color: white;
  border-radius: 10px;
  border: 9px solid #ECD4A0;  
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.movie_image {
margin-right: 5%;
margin-left:5%;
margin-top: 5px;
padding: 16px 0;
}

.movie_image a:active {
border-width: 0;
}

.movie_info {
  font-size: 12px;
  padding: 6px 0;
}

.movie_header {

}

.movie_extra_info
{  
  text-align: left;
  line-height: 1.8;
}

.footer {
  background-color: rgba(0, 0, 0, 0.63);
  width: 89.2%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 5.4%;
  padding:1% 0 ;
  bottom: 0;
}


