html {
height: 100%;
}

body {
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  color:white;  
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color:white;
  text-decoration: none;
}

.wrapper {
  flex-grow: 1;
}

.header {
  display: flex;
}

.logo {
  margin:auto;
}

.nav {  
  font-family: Tahoma;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.navbar {

  width:90%;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 18px;
}

.navbar_menu {
  list-style: none;
  display:flex;
}

.navbar_menu a:focus{
border-bottom: 5px solid #ECD4A0;
padding-bottom: 5px;
/* background-color:green; */
}

/* .navbar_menu a:active{
border-bottom: 5px solid #ECD4A0;
padding-bottom: 5px;
background-color:green;
} */

.navbar_menu_item {
margin: 0 1.5%;
/* margin-right: 3%; */

}

.autorization_login {
 margin-left: auto;
 margin-right: 80px;
}

.content {
  background-color: rgba(0, 0, 0, 0.53);
  font-family: Tahoma;
  display: flex;
  margin: 15px auto;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 2%;
  justify-content: center; 
}

.movie_container {
  display: flex;  
  width:44%;
  font-family: sans-serif;
  color: white;
  border-radius: 10px;
  border: 9px solid #ECD4A0;  
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
}

.movie_image {
margin-right: 5%;
margin-left:5%;
margin-top: 5px;
padding: 16px 0;
}

.movie_image a:active {
border-width: 0;
}

.movie_info {
  font-size: 12px;
  padding: 6px 0;
}

.movie_header {

}

.movie_extra_info
{  
  text-align: left;
  line-height: 1.8;
}
.footer {
background-color: rgba(0, 0, 0, 0.63);
width: 90%;
font-size: 20px;
margin:auto;
display: flex;
flex-grow: 0;
justify-content: center;
align-items: center;/* центрирование по вертикали */
min-height: 30px;
}

.footer_container {

}
