html {
height: 100%;
}

body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  color:white;  
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color:white;  
}

.wrapper {
  flex-grow: 1;
}

.header {
  display: flex;
}

.logo {
  margin:auto;
}

.nav {  
  font-family: Tahoma;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.navbar {

  width:90%;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 18px;
}

.navbar_menu {
  list-style: none;
  display:flex;
}

.navbar_menu a:hover, a:active {
  border-bottom: 5px solid #ECD4A0;
  padding-bottom: 5px;
}

.navbar_menu_item {
margin: 0 1.5%;

}

.autorization_login {
 margin-left: auto;
 margin-right: 80px;
}

.content {
  background-color: rgba(0, 0, 0, 0.53);
  font-family: Tahoma;
  display: flex;
  margin: 15px auto;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 2%;
  justify-content: center; 
}

.movie_container {
  display: flex;  
  font-family: sans-serif;
  color: white; 
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
  box-sizing: border-box;
}

.current_score {
  margin:10px 20px;
}

.score {
border-radius: 10px;
border: 3px solid #ECD4A0;
margin-top:10px;
padding-left:10px;
padding-bottom: 10px;
}

.score_choice {
display: inline-block;

}

.movie_image {
margin-right: 3%;
margin-left:5%;
margin-top: 5px;
padding: 16px 0;
}

.movie_image a:active {
border-width: 0;
}

.movie_info {
  font-size: 17px;
  padding: 6px 0;
}

.movie_header {

}

.submit_button {
  margin-top:15px;
  font-size:16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
}
.movie_extra_info
{  
  text-align: left;
  line-height: 1.8;
}
.footer {
background-color: rgba(0, 0, 0, 0.63);
width: 90%;
font-size: 20px;
margin:auto;

display: flex;
flex-grow: 0;
justify-content: center;
align-items: center;/* центрирование по вертикали */
min-height: 30px;
}

.footer_container {

}
